*{
  margin: 0;
}


.App {
  text-align: center;
}

.App--card--container{
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: center;
  gap: 10px;
}

.card--image{
  width: 250px;
}

.card--container{
  cursor: pointer;
}

.card--name{
  font-size: 12px;
}

