*{
  margin: 0;
}

body{
  background-color: #A4230D;
}


.App {
  text-align: center;
}

.App--card--container{
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: center;
  gap: 10px;
}

.card--image{
  width: 250px;
}

.card--container{
  border: 2px solid black;
  cursor: pointer;
}

.card--container:hover{
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 4px 4px 8px black;
}

.card--name{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
}

.App--score--container{
  font-family: 'Montserrat';
  font-weight: 700;
  margin-top: 5vh;
}

.App--newGame{
  cursor: pointer;
  border: 2px solid black;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-top: 10px;
  background-color: #8D3020;
  width: 20rem;
  height: 3rem;
}

.App--gameOver{
  font-family: 'Montserrat';
  font-weight: 700;
}

.App--newGame:hover{
  box-shadow: 4px 4px 8px black;
}

